#title{
    font-size: 30px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#txtbox{
    width: 200px;
    font-size: 22px;
}

#submit{
    font-size: 22px;
    border-radius: 8px;
    margin-left: 10px;
}

#remove{
    font-size: 22px;
    border-radius: 8px;
    margin-left: 10px;
}

#inputs{
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

#pictures{
    margin-top: 200px;
}